.row
  = render "routine"

  .panel.panel-primary
    .panel-heading Yours Stats
    .panel-body
      yours last revision was of
      - if @catmath[0]
        %b= @catmath[0].topic

        on
        = @catmath[0].created_at.to_date
      - else
        None

      Till Now you did total of

      %b= @sum
      questions.
      %p
        your success rate is
        = @right.to_f/@sum.to_f*100
        %b %
  .panel.panel-primary
    .panel-heading Yours Maths revision
    .panel-body
      - @catmath.each do |i|
        .row
          .col-md-3
            %i= i.topic
          .col-md-3
            %b= i.question
            %b question done
          .col-md-3
            %b= @right.to_f/@sum.to_f*100
            %b % success
          .col-md-3
            on
            = i.created_at.to_date
          %hr
      = will_paginate @catmath,renderer: BootstrapPagination::Rails
