.row
  = render "routine"

  .panel.panel-primary
    .panel-heading Yours Stats
    .panel-body
      yours last revision was of
      - if @catmath[0]
        %b= @catmath[0].topic

        on
        = @catmath[0].created_at.to_date
      - else
        None

      Till Now you did total of
      - sum=0
      - @catmath.each do |i|
        - sum+=i.question
      %b= sum
      questions.
  .panel.panel-primary
    .panel-heading Yours Maths revision
    .panel-body
      - @catmath.each do |i|
        .row
          .col-md-4
            %i= i.topic
          .col-md-4
            %b= i.question
          .col-md-4
            = i.created_at.to_date
          %hr
      = will_paginate @catmath,renderer: BootstrapPagination::Rails
