.row
  .col-md-2
    = link_to "Add revision of maths",new_catmath_path,class: "btn btn-primary"

  .col-md-8
    .panel.panel-primary
      .panel-heading List Of previous revision
      .panel-body
        .row
          .col-sm-2
            %b topic
          .col-sm-2
            %b questions done
          .col-sm-2
            %b right/wrong
          .col-sm-2
            %b done at
          .col-sm-2
            %b Success Rate
          .col-sm-2
            %b action
        - @catmaths.each do |i|
          .row
            .col-sm-2
              = link_to i.topic,i
            .col-sm-2
              = i.question
            .col-sm-2
              = i.right
              |
              = i.wrong
            .col-sm-2
              = i.created_at.to_date
            .col-sm-2
              - if i.right!=nil && i.question!=nil
                = (i.right.to_f/i.question.to_f)*100
                %b %
            .col-sm-2
              = link_to "Delete",i,method: :delete,data: {confirm: "are you sure"},class: "btn btn-danger"
            %hr




  .col-md-2
